//
// WindowsHookEx - Test the behavior of the api SetWindowsHookEx
// Copyright (c) 2020 Mark Jansen
// UI Framework: Wizard-2020 Example from https://building.enlyze.com/posts/writing-win32-apps-like-its-2020-part-1
// Copyright (c) 2020 Colin Finck, ENLYZE GmbH
// SPDX-License-Identifier: MIT
//

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_BACK                        "< Back"
    IDS_NEXT                        "Hook >"
    IDS_CANCEL                      "Close"
    IDS_FINISH                      "Unhook"
    IDS_OK                          "OK"

    IDS_FIRSTPAGE_HEADER            "Select a hook type"
    IDS_FIRSTPAGE_SUBHEADER         "And configure the parameters."

    IDS_ABOUT_TITLE                 "About %s"
    IDS_ABOUT_SUBHEADER             "Copyright © 2020 Mark Jansen"
    IDS_ABOUT_HEADER                "SetWindowsHookEx test utility"

    IDS_GLOBAL_HOOK                 "Global hook"
    IDS_LOCAL_HOOK                  "Local hook"

    IDS_PROCESS                     "Process"
    IDS_THREAD                      "Thread"
    IDS_HOOK                        "Hook"
    IDS_INFO                        "Info"

END
